.site-home{
  justify-content: center;
}

.site-navigation{
  opacity: .85;
}

.nav-link{
  opacity: rgba(255, 255, 255, 1);
}

.site-footer{
  background-color: #212529;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0 !important;
}

.textLeft {
	float: left;
}
.textRight {
	float: right;
}

.tech-list{
  display: flex;
  align-items: left;
  gap: 2rem;
  font-size: 1rem;
  opacity: 0.6;
  margin-top: auto;
  list-style: none;
  padding-left: 0rem;
}
.welcome img{
  display: inline-block;
}
.welcome h1{
  font-size: 36pt;
  display: inline-block;
  padding-left: 10px;
}